body {
    margin: 0;
    padding: 0;
    background-color: #ccc;
}

h1{
    font-size:27px;
}
#wrap {
    width: 70%;
    background-color: white;
    margin: 0 auto;
}

.head_image {
    width: 100%;
}

nav,
footer {
    padding: 10px;
}


footer {
    background-color: #0EC8C7;
    text-align: center;
    color: black;
    font-family: Georgia, serif;
    font-size:12px;
}

footer li{
    display:inline;
}

footer a{
    padding: 10px 10px;
    font-size: 12px;
    text-align: center;
}



nav {
    background-color: #0EC8C7;
    text-align: center;
    font-family: cursive;
    font-size: 18px;
    
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 15px 25px;
}

nav a:hover {
    background-color: #EC3632;
}

aside{
    width:25%;
    float:left;
    background-color: #EC3632;
}

article {
    width:69%;
    float:right;
    background-color: white;
    padding: 1% 3% 3%;
    font-size:20px;
    
}



.second {
    width: 35%;
    float: right;
    margin: 0 0 20px 30px;
}


aside li{
    padding: 15px 15px;
    font-size: 12px;
    font-family: Georgia,sans-serif;
}

section{
    overflow: auto;
    background-color: #EC3632;
}

.bird{
    width:35%;
    float:right;
    margin:0 0 20px 30px;
    
}

aside a {
       font-size: 18px ;
       text-decoration: none;
       font-family:cursive;
       color: white;
    }

@media screen and (max-width: 800px) {
    #wrap {width:100%;}
    aside, article {
        float:none;
        width:100%;
    }
    article{
        background-color: beige;
    }
    
    nav a,aside a {
        display:block;
        width:100%;
        padding:20px 0%;
    }
    
    nav li, nav ul, aside li, aside, ul {
        margin:0%;
        padding:0%;
    }
    
    aside li{
        list-style-type: none;
    }
    aside a:hover{
        color:black;
        background-color: #FFC05E ;
    }
    nav a:hover{
        background-color: lightblue;
        
    }
    nav, aside{
        padding:0%;
        text-align: center;
    }
    .bird{
        width:100%;
        float:none;
        margin:0 0 10px 0;
    }
    
   
}


@media screen and (min-width:801px) and (max-width: 905px){
    nav {
        font-size:large;
    }
    
    
    
}